# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr

# Environment variables
.env
.env.local
.env.*.local

# Vercel & IDE
.vercel
.vscode
.idea
*.suo
*.user

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.zip
scratch/
/data/
!src/data/
response.json
productos_descargados_hd/
productos_descargados_HD/
*.db
*.db-journal
